# Lego Inventory Creation Dataset
<div style="
    border: 5px solid purple;
    border-radius: 8px;
    padding: 0px;
    margin: 10px 0;
    background-color: inherit;
    color: inherit;
">
</div>

In [2]:
import pandas as pd
import numpy as np

### Importing data
<div style="
    border: 2px solid orange;
    border-radius: 8px;
    padding: 0px;
    margin: 10px 0;
    background-color: inherit;
    color: inherit;
">
</div>

In [3]:
url = "https://docs.google.com/spreadsheets/d/17o2TJJ3_pmrFsFNIdhxyPW3PFO0zyksoSVbrWzrDJoU/export?format=xlsx"
dataset = pd.ExcelFile(url, engine='openpyxl')

# Parse all sheets into a dictionary
sheets = {sheet: dataset.parse(sheet) for sheet in dataset.sheet_names}

# Merge all sheets into one DataFrame
lego_dataset = pd.concat(sheets.values(), ignore_index=True)

# Display info
lego_dataset

,id,color,is duplo?,size type,base shape,base dimensions,number of studs,has slope?,slope degree,in stock,transparent
0,NaN,Dark Blue,True,Brick,Rectangle,2 x 4,8,False,NaN,1,NaN
1,NaN,Green,True,Brick,Rectangle,2 x 4,8,False,NaN,1,NaN
2,NaN,Coral,True,Brick,Square,2 x 2,4,False,NaN,1,NaN
3,NaN,Red,True,Brick,Square,2 x 2,4,False,NaN,1,NaN
4,NaN,White,True,Brick,Square,2 x 2,4,False,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
199,NaN,Transparent orange,False,Plate,Square,1*1,0,False,0.0,1,NaN
200,NaN,Blck,False,Plate,Trapezium,2*2,4,False,0.0,1,NaN
201,NaN,Yellow,False,Plate,Rectangle,1*2,0,False,0.0,1,NaN
202,NaN,Transparent sky blue,False,Plate,Round,1*1,0,False,0.0,1,NaN
203,NaN,Transparent yellow,False,Plate,Round,1*1,0,False,0.0,1,NaN

### Data Cleaning
<div style="
    border: 2px solid orange;
    border-radius: 8px;
    padding: 0px;
    margin: 10px 0;
    background-color: inherit;
    color: inherit;
">
</div>

In [4]:
# removing transparent column
lego_dataset = lego_dataset.drop('transparent', axis=1)
lego_dataset

,id,color,is duplo?,size type,base shape,base dimensions,number of studs,has slope?,slope degree,in stock
0,NaN,Dark Blue,True,Brick,Rectangle,2 x 4,8,False,NaN,1
1,NaN,Green,True,Brick,Rectangle,2 x 4,8,False,NaN,1
2,NaN,Coral,True,Brick,Square,2 x 2,4,False,NaN,1
3,NaN,Red,True,Brick,Square,2 x 2,4,False,NaN,1
4,NaN,White,True,Brick,Square,2 x 2,4,False,NaN,1
...,...,...,...,...,...,...,...,...,...,...
199,NaN,Transparent orange,False,Plate,Square,1*1,0,False,0.0,1
200,NaN,Blck,False,Plate,Trapezium,2*2,4,False,0.0,1
201,NaN,Yellow,False,Plate,Rectangle,1*2,0,False,0.0,1
202,NaN,Transparent sky blue,False,Plate,Round,1*1,0,False,0.0,1
203,NaN,Transparent yellow,False,Plate,Round,1*1,0,False,0.0,1

In [5]:
# added Id's
lego_dataset['id'] = range(1, len(lego_dataset) + 1)
lego_dataset

,id,color,is duplo?,size type,base shape,base dimensions,number of studs,has slope?,slope degree,in stock
0,1,Dark Blue,True,Brick,Rectangle,2 x 4,8,False,NaN,1
1,2,Green,True,Brick,Rectangle,2 x 4,8,False,NaN,1
2,3,Coral,True,Brick,Square,2 x 2,4,False,NaN,1
3,4,Red,True,Brick,Square,2 x 2,4,False,NaN,1
4,5,White,True,Brick,Square,2 x 2,4,False,NaN,1
...,...,...,...,...,...,...,...,...,...,...
199,200,Transparent orange,False,Plate,Square,1*1,0,False,0.0,1
200,201,Blck,False,Plate,Trapezium,2*2,4,False,0.0,1
201,202,Yellow,False,Plate,Rectangle,1*2,0,False,0.0,1
202,203,Transparent sky blue,False,Plate,Round,1*1,0,False,0.0,1
203,204,Transparent yellow,False,Plate,Round,1*1,0,False,0.0,1

In [6]:
# removing variations from base dimensions column using regular expression 
lego_dataset["base dimensions"] = lego_dataset["base dimensions"].str.replace(r'\s*([xX\+*])\s*', '*', regex=True)
lego_dataset.sample(20)

,id,color,is duplo?,size type,base shape,base dimensions,number of studs,has slope?,slope degree,in stock
168,169,Light Green,False,Plate,Rectangle,2*8,16,False,0.0,1
45,46,red,yes,brick,rectangle,2*4,8,no,0.0,yes
82,83,red,yes,brick,rectangle,4*2,8,no,0.0,1
6,7,Light Green,True,Plate,Rectangle,2*8,16,False,NaN,1
22,23,Red,False,Brick,Circle,2*2,4,False,NaN,1
89,90,blue,no,brick,rectangle,6*2,12,no,0.0,1
3,4,Red,True,Brick,Square,2*2,4,False,NaN,1
141,142,pink,0,plate,rectangle,4*6,24,0,0.0,1
60,61,white,no,plate,rectangle,2*8,16,no,0.0,yes
73,74,darkpink,no,plate,square,1*1,1,no,0.0,yes
194,195,Sky blue,False,Brick,Square,1*1,1,False,0.0,1
171,172,Black,False,Plate,Rectangle,2*8,16,False,0.0,1
164,165,Red,True,Brick,Rectangle,2*4,8,False,0.0,1
183,184,Sky Blue,False,Plate,Round,4*4,12,False,0.0,1
65,66,black,no,plate,square,1*2,2,no,0.0,yes
163,164,Green,True,Brick,Rectangle,2*4,8,False,0.0,1
172,173,White,False,Plate,Rectangle,2*4,8,False,0.0,1
80,81,grey,no,brick,circle,1*1,4,no,0.0,yes
115,116,pink,no,brick,rectangle,3*1,3,no,0.0,1
47,48,darkblue,yes,brick,rectangle,2*4,8,no,0.0,yes

In [7]:
# Converting values 
bool_map = {'true': True, 'yes': True, '1': True, 'false': False, 'no': False, '0': False}

cols = ["is duplo?", "has slope?"]
for col in cols:
    lego_dataset[col] = lego_dataset[col].astype(str).str.lower().map(bool_map)
# Slope degree
lego_dataset["slope degree"] = lego_dataset["slope degree"].replace(0, np.nan)
# In stock
lego_dataset["in stock"] = lego_dataset["in stock"].replace('yes', 1)

lego_dataset.sample(20)

/var/folders/8c/mnr4lz8516jbtxz7c_wyl9gc0000gn/T/ipykernel_8519/2151105000.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  lego_dataset["in stock"] = lego_dataset["in stock"].replace('yes', 1)

,id,color,is duplo?,size type,base shape,base dimensions,number of studs,has slope?,slope degree,in stock
77,78,orange,False,plate,circle,2*2,12,False,NaN,1
53,54,yellow,False,brick,square,2*2,4,False,NaN,1
165,166,Blue,True,Brick,Square,2*2,4,False,NaN,1
142,143,navy blue,False,plate,rectangle,2*8,16,False,NaN,1
185,186,Pink,False,Brick,Rectangle,1*2,2,False,NaN,1
55,56,orange,False,brick,square,1*2,2,True,45.0,1
152,153,neon yellow,False,plate,rectangle,1*2,2,False,NaN,1
141,142,pink,False,plate,rectangle,4*6,24,False,NaN,1
45,46,red,True,brick,rectangle,2*4,8,False,NaN,1
170,171,White,False,Plate,Rectangle,2*4,8,False,NaN,1
153,154,red,False,plate,square,1*1,1,False,NaN,1
100,101,sky blue,False,brick,rectangle,2*1,1,True,45.0,1
1,2,Green,True,Brick,Rectangle,2*4,8,False,NaN,1
89,90,blue,False,brick,rectangle,6*2,12,False,NaN,1
203,204,Transparent yellow,False,Plate,Round,1*1,0,False,NaN,1
76,77,neon light yellow,False,plate,circle,1*1,1,False,NaN,1
60,61,white,False,plate,rectangle,2*8,16,False,NaN,1
68,69,white,False,plate,rectangle,2*3,0,False,NaN,1
158,159,hot magent,False,tile,circle,1*1,0,False,NaN,1
166,167,Purple,True,Brick,Square,2*2,4,False,NaN,1

In [8]:
# lower case 
columns = ["color", "size type", "base shape"]
for col in columns:
    lego_dataset[col] = lego_dataset[col].str.lower()
lego_dataset.tail()

,id,color,is duplo?,size type,base shape,base dimensions,number of studs,has slope?,slope degree,in stock
199,200,transparent orange,False,plate,square,1*1,0,False,NaN,1
200,201,blck,False,plate,trapezium,2*2,4,False,NaN,1
201,202,yellow,False,plate,rectangle,1*2,0,False,NaN,1
202,203,transparent sky blue,False,plate,round,1*1,0,False,NaN,1
203,204,transparent yellow,False,plate,round,1*1,0,False,NaN,1

In [9]:
lego_dataset.to_excel("Lego-Inventory-Creation-Clean.xlsx", index=False)

### Dataset Overview
<div style="
    border: 2px solid orange;
    border-radius: 8px;
    padding: 0px;
    margin: 10px 0;
    background-color: inherit;
    color: inherit;
">
</div>

In [10]:
# shape (rows, columns)
lego_dataset.shape
print(f"Dataset consist of {lego_dataset.shape[0]} rows and {lego_dataset.shape[1]} columns.")

Dataset consist of 204 rows and 10 columns.

### Dataset Structure
<div style="
    border: 2px solid orange;
    border-radius: 8px;
    padding: 0px;
    margin: 10px 0;
    background-color: inherit;
    color: inherit;
">
</div>

In [11]:
lego_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               204 non-null    int64
 1   color            204 non-null    object
 2   is duplo?        204 non-null    bool
 3   size type        204 non-null    object
 4   base shape       204 non-null    object
 5   base dimensions  204 non-null    object
 6   number of studs  204 non-null    int64
 7   has slope?       204 non-null    bool
 8   slope degree     24 non-null     float64
 9   in stock         204 non-null    int64
dtypes: bool(2), float64(1), int64(3), object(4)
memory usage: 13.3+ KB

### Discriptive Statistics
<div style="
    border: 2px solid orange;
    border-radius: 8px;
    padding: 0px;
    margin: 10px 0;
    background-color: inherit;
    color: inherit;
">
</div>

In [12]:
# Numeric Columns
lego_dataset.describe()

               id  number of studs  slope degree  in stock
count  204.000000       204.000000     24.000000     204.0
mean   102.500000         4.906863     43.125000       1.0
std     59.033889         4.996171      6.726408       0.0
min      1.000000         0.000000     15.000000       1.0
25%     51.750000         2.000000     45.000000       1.0
50%    102.500000         4.000000     45.000000       1.0
75%    153.250000         6.000000     45.000000       1.0
max    204.000000        24.000000     45.000000       1.0

In [13]:
#getting statistics on categorical/object columns
obj_cols = lego_dataset.select_dtypes(include='object').columns
print(f"This dataset has {len(obj_cols)} object columns:", list(obj_cols))

This dataset has 4 object columns: ['color', 'size type', 'base shape', 'base dimensions']

In [14]:
lego_dataset.sample(20)

,id,color,is duplo?,size type,base shape,base dimensions,number of studs,has slope?,slope degree,in stock
6,7,light green,True,plate,rectangle,2*8,16,False,NaN,1
52,53,darkpink,False,brick,rectangle,1*4,4,False,NaN,1
144,145,black,False,plate,square,2*2,4,False,NaN,1
190,191,pink,False,brick,rectangle,1*2,1,True,45.0,1
154,155,navy blue,False,tile,rectangle,1*2,0,False,NaN,1
118,119,cream,False,plate,rectangle,2*1,2,False,NaN,1
113,114,grey,False,brick,rectangle,2*2,4,False,NaN,1
148,149,green,False,plate,trapezoid,1*4,4,False,NaN,1
191,192,green,False,plate,rectangle,1*4,0,False,NaN,1
3,4,red,True,brick,square,2*2,4,False,NaN,1
171,172,black,False,plate,rectangle,2*8,16,False,NaN,1
143,144,baby blue,False,plate,rectangle,1*4,4,False,NaN,1
147,148,blue,False,plate,trapezoid,2*2,4,False,NaN,1
33,34,capri,False,brick,rectangle,1*2,2,False,NaN,1
197,198,transparent yellow,False,plate,rectangle,1*2,2,False,NaN,1
123,124,coral,True,plate,rectangle,2*4,8,False,NaN,1
125,126,red,True,brick,square,2*2,4,False,NaN,1
82,83,red,True,brick,rectangle,4*2,8,False,NaN,1
99,100,sky blue,False,plate,square,1*1,1,False,NaN,1
77,78,orange,False,plate,circle,2*2,12,False,NaN,1

In [15]:
#detailed statistics on object data
for col in lego_dataset.select_dtypes(include='object'):
    print(f"\nColumn: {col}")
    print("Count of non-null values:", lego_dataset[col].count()) 
    print("Number of unique values:", lego_dataset[col].nunique())
    print("Most frequent value:", lego_dataset[col].value_counts().idxmax())
    print("Most frequent value (frequency):", lego_dataset[col].value_counts().max())
    print("Least frequent value:", lego_dataset[col].value_counts().idxmin())
    print("Least frequent value (frequency):", lego_dataset[col].value_counts().min())

Column: color
Count of non-null values: 204
Number of unique values: 68
Most frequent value: yellow
Most frequent value (frequency): 16
Least frequent value: lime green
Least frequent value (frequency): 1

Column: size type
Count of non-null values: 204
Number of unique values: 3
Most frequent value: plate
Most frequent value (frequency): 104
Least frequent value: tile
Least frequent value (frequency): 4

Column: base shape
Count of non-null values: 204
Number of unique values: 8
Most frequent value: rectangle
Most frequent value (frequency): 109
Least frequent value: wadge
Least frequent value (frequency): 1

Column: base dimensions
Count of non-null values: 204
Number of unique values: 22
Most frequent value: 2*2
Most frequent value (frequency): 47
Least frequent value: 6*2
Least frequent value (frequency): 1

In [52]:
columns_to_check = [col for col in lego_dataset.columns if col != 'id']
duplicates = lego_dataset.duplicated(subset=columns_to_check, keep=False)
print("\nDuplicate rows (excluding id):")
print(lego_dataset[duplicates])

Duplicate rows (excluding id):
      id   color  is duplo? size type base shape base dimensions  \
1      2   green       True     brick  rectangle             2*4
3      4     red       True     brick     square             2*2
9     10  yellow      False     brick  rectangle             2*4
22    23     red      False     brick     circle             2*2
24    25   black      False     plate     square             1*2
45    46     red       True     brick  rectangle             2*4
46    47  yellow       True     brick     square             2*2
65    66   black      False     plate     square             1*2
86    87    blue       True     brick     square             2*2
108  109   black      False     plate     square             2*2
125  126     red       True     brick     square             2*2
129  130   green       True     brick  rectangle             2*4
130  131    blue      False     brick  rectangle             2*6
139  140     red      False     brick     circle             2*2
150  151   black      False     plate     square             2*2
164  165     red       True     brick  rectangle             2*4
165  166    blue       True     brick     square             2*2
167  168  yellow       True     brick     square             2*2
170  171   white      False     plate  rectangle             2*4
172  173   white      False     plate  rectangle             2*4
175  176    blue      False     brick  rectangle             2*6
176  177   black      False     plate     square             2*2
181  182  yellow      False     brick  rectangle             2*4

     number of studs  has slope?  slope degree  in stock
1                  8       False           NaN         1
3                  4       False           NaN         1
9                  8       False           NaN         1
22                 4       False           NaN         1
24                 2       False           NaN         1
45                 8       False           NaN         1
46                 4       False           NaN         1
65                 2       False           NaN         1
86                 4       False           NaN         1
108                2       False           NaN         1
125                4       False           NaN         1
129                8       False           NaN         1
130               12       False           NaN         1
139                4       False           NaN         1
150                2       False           NaN         1
164                8       False           NaN         1
165                4       False           NaN         1
167                4       False           NaN         1
170                8       False           NaN         1
172                8       False           NaN         1
175               12       False           NaN         1
176                2       False           NaN         1
181                8       False           NaN         1

In [69]:
def clean_duplicates_exclude_slope(df, id_column='id', stock_column='in stock'):
    # Columns for grouping
    group_cols = [col for col in df.columns if col not in [id_column, stock_column, 'slope degree']]
    
    # Group and aggregate
    cleaned_df = df.groupby(group_cols, as_index=False).agg({
        id_column: 'first',
        stock_column: 'sum',
        'slope degree': 'first'
    })
    
    # Reorder columns to match original order
    cleaned_df = cleaned_df[df.columns]
    
    # Sort by original ID
    cleaned_df = cleaned_df.sort_values(id_column).reset_index(drop=True)
    
    print(f"Cleaned: {len(df)} â†’ {len(cleaned_df)} rows, Stock: {df[stock_column].sum()} â†’ {cleaned_df[stock_column].sum()}")
    
    return cleaned_df

# Usage
df = clean_duplicates_exclude_slope(lego_dataset, 'id', 'in stock')

Cleaned: 204 â†’ 192 rows, Stock: 204 â†’ 204

In [70]:
df

,id,color,is duplo?,size type,base shape,base dimensions,number of studs,has slope?,slope degree,in stock
0,1,dark blue,True,brick,rectangle,2*4,8,False,NaN,1
1,2,green,True,brick,rectangle,2*4,8,False,NaN,2
2,3,coral,True,brick,square,2*2,4,False,NaN,1
3,4,red,True,brick,square,2*2,4,False,NaN,2
4,5,white,True,brick,square,2*2,4,False,NaN,1
...,...,...,...,...,...,...,...,...,...,...
187,200,transparent orange,False,plate,square,1*1,0,False,NaN,1
188,201,blck,False,plate,trapezium,2*2,4,False,NaN,1
189,202,yellow,False,plate,rectangle,1*2,0,False,NaN,1
190,203,transparent sky blue,False,plate,round,1*1,0,False,NaN,1
191,204,transparent yellow,False,plate,round,1*1,0,False,NaN,1

In [71]:
df['id'] = range(1, len(df) + 1)
df

,id,color,is duplo?,size type,base shape,base dimensions,number of studs,has slope?,slope degree,in stock
0,1,dark blue,True,brick,rectangle,2*4,8,False,NaN,1
1,2,green,True,brick,rectangle,2*4,8,False,NaN,2
2,3,coral,True,brick,square,2*2,4,False,NaN,1
3,4,red,True,brick,square,2*2,4,False,NaN,2
4,5,white,True,brick,square,2*2,4,False,NaN,1
...,...,...,...,...,...,...,...,...,...,...
187,188,transparent orange,False,plate,square,1*1,0,False,NaN,1
188,189,blck,False,plate,trapezium,2*2,4,False,NaN,1
189,190,yellow,False,plate,rectangle,1*2,0,False,NaN,1
190,191,transparent sky blue,False,plate,round,1*1,0,False,NaN,1
191,192,transparent yellow,False,plate,round,1*1,0,False,NaN,1

In [73]:
df.to_excel("../additional_material/LegoDatabase_without_duplicates.xlsx", index=False)